In [40]:
# This tells matplotlib not to try opening a new window for each plot.
%matplotlib inline

# General libraries.
import re
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# SK-learn libraries for learning.
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

# SK-learn libraries for evaluation.
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report

# The competition datafiles are in the directory ../input
# Read competition data files:
train = pd.read_csv("train.csv")
test  = pd.read_csv("test.csv")

train.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [41]:
train.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [42]:
train_data = train.drop('Id', axis=1)
test_data = test.drop('Id', axis=1)

# print(test_data.shape)
# print(train_data.shape)

train_labels = train_data['Cover_Type']
train_data = train_data.drop('Cover_Type',axis=1)

print(test_data.shape)
print(train_data.shape)

(565892, 54)
(15120, 54)

In [43]:
#Logistic Regression baseline
#try logistic regression
logit = LogisticRegression()
logit.fit(train_data, train_labels)
test_data['Cover_Type'] = pd.Series(logit.predict(test_data))



logit_submission = pd.concat([test['Id'].astype(int), test_data['Cover_Type']], axis=1)
logit_submission = logit_submission.set_index('Id')
logit_submission.to_csv('logit_submission.csv')

print(test_data.shape)
#print(submission.shape)

#My logistic regression baseline submission scored 0.55306 according to kaggle

(565892, 55)

In [45]:
#Random Forests baseline
#Read competition data files:
train = pd.read_csv("train.csv")
test  = pd.read_csv("test.csv")

#Remove the first column
train_data = train.drop('Id', axis=1)
test_data = test.drop('Id', axis=1)

train_labels = train_data['Cover_Type']
train_data = train_data.drop('Cover_Type',axis=1)

print(test_data.shape)
print(train_data.shape)


rndfs= RandomForestClassifier()
rndfs.fit(train_data,train_labels)
test_data['Cover_Type'] = pd.Series(rndfs.predict(test_data))
rndfs_submission = pd.concat([test['Id'].astype(int), test_data['Cover_Type']], axis=1)
rndfs_submission = rndfs_submission.set_index('Id')
rndfs_submission.to_csv('rndfs_submission.csv')

#Random forests Your submission scored 0.71391

(565892, 54)
(15120, 54)